


<div class='main-nav'>
    <div class='navbar navbar-inverse'>
       <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['vehciles']">
                        <span class='glyphicon glyphicon-home'></span> Vehicles List
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['vehciles/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Vehicle
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</div>


<router-outlet></router-outlet>

