
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

</head>
<body>
    <br />
    <br />
    <a class="btn btn-default" asp-controller="home" asp-action="welcome">Click to Login</a>
</body>
</html>
